
*{
    margin:0;
    border: 0;
    
}
html{ height:100%; }
body{
    font-family: 'Roboto-Regular';
    background: #f5f5f5;
    background-image: linear-gradient(100deg, #575656, #062e3f);
    align-items:center ;
display: table;
  width: 100%; 
  min-height:100%;  margin:0; 
    
}
body > footer {
   display: table-row;
}
section.todo-outer {
 
    width: 100%;
        float: center;
    padding: 30px 0;
}
section.todo-outer h1 {
    font-family: 'Berlin Sans FB';
    color: #ffdfdb;
    font-size: 50px;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 50px;
    
}

.todo-inner {
    width: 50%;
    position: center;
    padding: 20px;
    box-shadow: 10px 20px 40px #c1c1c1;
    background:linear-gradient(100deg, #d4f1ff, #ffffff); ;
    box-sizing: border-box;
    margin: auto;

}
table tr{
  font-family: "Pattaya", sans-serif;
}
table tr td button {
    background: no-repeat;
    border: black;
    padding: 1px;
    cursor: pointer;
}
table tr td button:focus{
    background-color: whitesmoke;
    border: 3px solid black;
}
main{
  margin-bottom: auto;
}
table tr td{
    font-size: 22px;
    color: black;
  
    border-bottom: 1px solid lightgrey;
    font-size-adjust: inherit;
    padding: 5px;
}
tr:nth-child(even)
{
  background-color:lightgrey;

}
}
.main-file {
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
}
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
background-image: linear-gradient(100deg, #d4f1ff, #ffffff);
    box-shadow: 0 2px 2px black;
}
.logo{
  font-family: "Pattaya", sans-serif;
  font-weight: 400;
   flex-direction: row;
   font-size: 30px;
   padding: 1px;
   color: black;
   margin-left: 14px;
   margin-bottom: 15px;
}

.row{
    padding: 10px;
    }
#searchtextbox{
  font-family: "Pattaya", sans-serif;
    width: 250px;
    padding: 6px;
    font-size: 16px;
    float: right;
    flex-direction: right;
    margin-right: 14px;
    border: solid black 1px;

}
#addtaskinput{
  font-family: "Pattaya", sans-serif;
    margin-bottom: 2px;
    padding:14px;
    width: 50%;
    margin: auto;
    font-size: 15px;
    border: 1px solid black;
    }
#addtaskinput:focus{
        border: 3px solid darkcyan;
    }
#addedtasklist{
    width: 100%;
}
.addbtn{
  font-family: "Pattaya", sans-serif;
   position: static;
   flex-direction: right;
    padding: 14px;
   width: 20%;
    border-radius: 100px;
    margin: auto;
    font-size: 15px;
    background-color: lightgrey;
}

.delbtn{
  font-family: "Pattaya", sans-serif;
    position: static;
    flex-direction: right;
    padding: 14px;
    width: 20%;
    border-radius: 100px;
    margin: auto;
    font-size: 15px;
    background-color: lightgrey;
}

main{
  flex: 1 0 auto;
}
footer {
  color: white;
  
  height: 50px;
    
}
.footer-wrapper {
  font-family: "Pattaya", sans-serif;
  display: flex;
width: 90%;
  margin: auto;
  align-items: center;
 
  flex-wrap: wrap;
  
}
footer h5 {
  flex: 1 1 40rem;
}
footer ul {
  display: flex;
  list-style: none;
  flex: 0.3 1 40rem;
  justify-content: space-between;
  align-items: center;
}
.social{
    background-color: black;
}

 
#title{
    color: white;
    font-size: 70px;
    font-weight: 700;
    letter-spacing: 8px;
    margin-bottom: 20px;
   
    position: relative;
    animation: text 3s 1;
}

@keyframes text{
    0%{
        color: black;
        margin-bottom: -40px;
    }
    30%{
        letter-spacing: 25px;
        margin-bottom: -40px;
        }
    85%{
        letter-spacing: 8px;
        margin-bottom: -40px;
    }
}

  


  
 

  
 

 
